*{
  margin:0;
  padding: 0;
}
body {
    background-color: #FBF338;
    font-family: "Franklin Gothic Medium", sans-serif;
  }
  
  header{
  font-size: 20px;
  background-color: #000000;
  padding: 10px 20px 20px;
  text-decoration: none;
  }

  a{
    color: #fff;
  }
  
  .formulario {
    width: 80%;
    max-width: 900px;
    margin-top: 50px;
    margin: auto;
    padding: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-size: 90px;
    margin-top: 50px;
  }
  
  label {
    display: inline-block;
    margin-top: 10px;
    font-size: 25px;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #3480EB;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    margin-left: 20%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 50%;
    padding: 10px;
    background-color: #3480EB;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 30px;
  }
  